body{
    margin: 0;
    padding:0;
    --font-primary: "Noto Serif", Helvetica, serif;
    --font-secondary: "Noto Sans", Helvetica, sans-serif;
}
html a{
    text-decoration: none;
}
header{
    height: 216px;
}
ul{
    list-style: none;
}
.secondary-bar{
    border-bottom: 1px solid grey;
}
/*flex: x y z -> x=flex-grow,y=flex-shrink,z=flex-basis
flex-grow:specifica quanto un oggetto flex cresce rispetto al resto
flex-shrink:specifica quanto un oggetto flex si ridurrà rispetto agli altri elementi
flex-basis:specifica la lunghezza iniziale di un elemento flessibile
*/
.navbar{
    display:flex;
    flex-direction: row;
    align-items:center;
    background-color: transparent;
}
.hamburger-menu{
    display:flex;
    align-items: center;
    flex-direction: row;
    gap:0.5rem;
    padding:0.9375rem
}
.hamburger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.hamburger span{
    height: 2px;
    width: 14px;
    background: black;
    margin: 1px 0;
    transition: all 0.3s;
}
.hamburger-menu>span{ /*Solo gli span figli diretti di hamburger-menu*/
    font:normal 600 .9375em / 1.0666666667 "Noto Sans", Helvetica, sans-serif;
}
.top-bar-container,.main-bar-container{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    width: 95%;
}
.top-bar-container{
    height: 64px;
}
.sections-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    flex:1;
    height: 64px;
}
.title-container{
    display:none;
    align-items: center;
    justify-content: center;
    flex:0 1 auto;
    min-width: 0;
    height: 64px;
}
.title-img {
    max-height: 70px;
    height: auto;
}
.right-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 0;
    flex:1;
    height: 64px;
}
.sub-container{
    display:flex;
    align-items: center;
}
.search-container {     /* Viene dopo sub-bar nella top-bar */
    display: flex;
    justify-self: flex-end;
    padding:0 0.6rem;
}
.sub-container ul {
    display: flex;              /* Disposizione orizzontale */
    gap: 15px;                  /* Spazio tra i due bottoni */
    padding:0;
    margin:0;
}
/* Stile dei link (bottoni) */
.sub-container a {
    width: 7em;                 /* Larghezza fissa dei bottoni */
    display: block;             /* Rende il link un blocco cliccabile */
    background-color: #006394; /* Colore di sfondo */
    color: #fff;                /* Colore del testo */
    text-align: center;         /* Centra il testo orizzontalmente */
    font: normal 600 1em / 1.733 "Noto Sans", Helvetica, sans-serif; /* Font compatto e leggibile */
    padding: 0.6rem 0.4rem;     /* Spaziatura interna */
    border-radius: 4px;         /* Angoli smussati */
}
/* Link: rimuove la sottolineatura */
.sub-container a:link{
    text-decoration: none;
}

/* Hover: cambia colore e aggiunge sottolineatura */
.sub-container a:hover{
    color:#FFFFFF;
    background-color:#007AB8;
    text-decoration: underline;
}

.search-container>button{
    border:none;
    background-color: transparent;
    padding:0;
}
.search-container-icon{
    width: 23px;
    height: 23px;
}
.primary-bar{
    display:flex;
    flex-direction: column;
}
.main-bar-container{
    height: 80px;
}
.weather-date{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    flex:1;
}
.weather-date-inside{
    padding:0.9375rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.weather-container{
    display: flex;
    align-items: flex-start;
    min-width: 0;
    gap: 2px;
}
.weather-container>a{
    font-family: "Noto Sans", Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #0a0908;
}
.weather-container img{
    height: 26px;
    width: 26px;
}
.date-container>#date-label{
    font: normal 600 .9375em / 1.0666666667 "Noto Sans", Helvetica, sans-serif;
    color:#0a0908;
}
.date-container{
    margin-left: 0.8em;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.date-container>a{
    margin-top: 4.5%;

}
#today-label{
    color:#0a0908;
    font-family: "Noto Sans", Helvetica, sans-serif;
    font-size:0.75em;
    font-weight: 500;
}
#today-label:hover{
    text-decoration:underline;
}
.main-title-container{
    display:flex;
    align-items: center;
    flex:0 1 auto;
    min-width: 0;
}
.sponsor-ship-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 0;
    flex:1;
    width: 100%;
}
.menu-section{
    display:flex;
    align-items: center;
    justify-content: center;
}
.menu-section ul{
    display: flex;              /* Disposizione orizzontale */
    gap: 15px;                  /* Spazio tra i due bottoni */
    padding:0;
}
.menu-section li>a{
    padding: 0 .08823529412em;
    font: normal 600 .9375em / 1.7333333333 "Noto Sans", Helvetica, sans-serif;
    color:#0a0908;
    text-decoration: none;
}
/*---media--*/
@media(max-width:1040px){
    .sub-container { display: none; }

    .title-container {
        display: flex;
        flex: 1 1 0;
        justify-content: center;
        min-width: 0;
    }

    .right-container {
        flex: 1 1 0;
        justify-content: flex-end;
        min-width: 0;
    }
    .sections-container #sections-label { display: none; }
    .main-bar-container { display: none; }
    .menu-section { display: none; }
}