body{
    margin: 0;
    padding:0;
    --font-primary: "Noto Serif", Helvetica, serif;
    --font-secondary: "Noto Sans", Helvetica, sans-serif;
}
body.noscroll {
    overflow: hidden;
}
p{
    margin:0;
}
html a{
    text-decoration: none;
}
header{
    height: auto;
}
ul{
    list-style: none;
}
.secondary-bar{
    border-bottom: 1px solid grey;
}
/*flex: x y z -> x=flex-grow,y=flex-shrink,z=flex-basis
flex-grow:specifica quanto un oggetto flex cresce rispetto al resto
flex-shrink:specifica quanto un oggetto flex si ridurrà rispetto agli altri elementi
flex-basis:specifica la lunghezza iniziale di un elemento flessibile
*/
.navbar{
    align-content: center;
    background-color: transparent;
    height: 64px;
}
.sections-container{
    cursor: pointer;
    height: 64px;
    width: 33%;
}
.hamburger-menu{
    padding-left:0.9375rem;
    display:flex;
    align-items: center;
    width: fit-content;
    height: 64px;
    gap:0.50rem;
}
.hamburger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.hamburger span{
    height: 2px;
    width: 14px;
    background: black;
    margin: 1px 0;
    transition: all 0.3s;
}
.hamburger-menu>span{ /*Solo gli span figli diretti di hamburger-menu*/
    font:normal 600 .9375em / 1.0666666667 "Noto Sans", Helvetica, sans-serif;
}
.top-bar-container,.main-bar-container{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.top-bar-container{
    position:relative;
    height: 64px;

}
.right-main-container{
    display:flex;
    width: 33%;
}
.title-container{
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex:1 1 auto;
    min-width: 0;
    height: 64px;
    width: 33%;
}
.title-img {
    height: auto;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    margin:0 auto;
}
.right-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 0;
    flex:1 1 auto;
    height: 64px;
    width: 33%;
}
.menu-sub-digit{
    display: none;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    cursor: pointer;
}
.menu-sub-icon-container{
    padding-left:0.6rem;
}
.menu-sub-icon-image{
    width: 20px;
    height: 20px;
}
.menu-sub-arrow{
    width: 15px;
    height: 15px;
}
.sub-container{
    display:flex;
    align-items: center;
}
.search-container {     /* Viene dopo sub-bar nella top-bar */
    display: flex;
    justify-self: flex-end;
    padding:0 0.6rem;
}
.sub-container ul {
    display: flex;              /* Disposizione orizzontale */
    gap: 15px;                  /* Spazio tra i due bottoni */
    padding:0;
    margin:0;
}
/* Stile dei link (bottoni) */
.sub-container a {
    width: 7em;                 /* Larghezza fissa dei bottoni */
    display: block;             /* Rende il link un blocco cliccabile */
    background-color: #006394; /* Colore di sfondo */
    color: #fff;                /* Colore del testo */
    text-align: center;         /* Centra il testo orizzontalmente */
    font: normal 600 1em / 1.733 "Noto Sans", Helvetica, sans-serif; /* Font compatto e leggibile */
    padding: 0.6rem 0.4rem;     /* Spaziatura interna */
    border-radius: 4px;         /* Angoli smussati */
}
/* Link: rimuove la sottolineatura */
.sub-container a:link{
    text-decoration: none;
}

/* Hover: cambia colore e aggiunge sottolineatura */
.sub-container a:hover{
    color:#FFFFFF;
    background-color:#007AB8;
    text-decoration: underline;
}

.search-container>button{
    border:none;
    background-color: transparent;
    padding:0;
}
.search-container-icon,.search-bar-icon{
    width: 23px;
    height: 23px;
}
.search-container-icon{
    cursor: pointer;
}
.primary-bar{
    display:flex;
    flex-direction: column;
}
.main-bar-container{
    height: 80px;
}
.weather-date{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    flex:1;
}
.weather-date-inside{
    padding:0.9375rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.weather-container{
    display: flex;
    align-items: flex-start;
    min-width: 0;
    gap: 2px;
}
.weather-container>a{
    font-family: "Noto Sans", Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #0a0908;
}
.weather-container img{
    height: 26px;
    width: 26px;
}
.date-container>#date-label{
    font: normal 600 .9375em / 1.0666666667 "Noto Sans", Helvetica, sans-serif;
    color:#0a0908;
}
.date-container{
    margin-left: 0.8em;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.date-container>a{
    margin-top: 4.5%;
}
#today-label{
    color:#0a0908;
    font-family: "Noto Sans", Helvetica, sans-serif;
    font-size:0.75em;
    font-weight: 500;
}
#today-label:hover{
    text-decoration:underline;
}
.main-title-container{
    display:flex;
    align-items: center;
    flex:0 1 auto;
    min-width: 0;
}
.sponsor-ship-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 0;
    flex:1;
    width: 100%;
}
.menu-section{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 3em;
}
.top-bar-container,.main-bar-container,.menu-section{
    max-width: 95%;
    margin: 0 auto;
}
.menu-section ul{
    display: flex;              /* Disposizione orizzontale */
    gap: 23px;                  /* Spazio tra i due bottoni */
    padding:0;
}
.menu-section li>a{
    padding: 0 .08823529412em;
    font: normal 600 .9375em / 1.7333333333 "Noto Sans", Helvetica, sans-serif;
    color:#0a0908;
    text-decoration: none;
}
.trending-container{
    width: 100%;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
}
.trending-container {
    font-family: "Noto Sans", Helvetica, sans-serif;
}

.trending-container-wrapped {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    padding: 0 1rem;
    overflow: hidden;
    margin: 0 auto;
}

.trending-nav {
    overflow: hidden;
}

.trending-container-wrapped ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
}

.trending-container-wrapped li {
    padding-right: 1.5625em;
    flex-shrink: 0;
    white-space: nowrap;
}

.trending-container-wrapped a {
    color: #38322a;
    text-decoration: none;
}

.trending-container-wrapped p {
    color: #006394;
    font-size: 0.875em;
    min-width: auto;
    font-weight: bold;
    flex-shrink: 0;
    white-space: nowrap;
    padding-right: 2em;
}
.search-form {
    display: none;
    position: absolute;   /* “staccata” dal flow */
    top: 64px;            /* altezza della tua top‑bar */
    width: 100%;
    align-content: center;
    gap: .5rem;
    height: 64px;
    background: #fff;
    border-top: 2px solid rgba(0, 0, 0, .5);
    z-index: 20;          /* sopra a tutto il resto dell’header */
    box-shadow: 0 3px 3px rgba(0, 0, 0, .25);
}
.search-input-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95%;
    margin:0 auto;
}
.search-input{
    width: 92%;
    outline:none;
    border:none;
    font-size: 0.9375em;
    padding: 1.3em .3em;
}
.search-button-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
}
.search-button{
    display: flex;
    background-color: #006da3;
    color:#fff;
    height: 2rem;
    width: 75px;
    font-size:0.93rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.search-overlay{
    margin-top:64px;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.55);
    display: none;
    z-index: 18;           /* sotto la barra (z‑index:20) */
}

/* overlay visibile quando .top-bar-form è aperta */
.top-bar-form.search-open .search-overlay{
    display: block;        /* <-- descendant, non sibling */
}
/*---media--*/
@media(max-width:1040px){
    .sub-container { display: none; }
    .navbar{width: 50px;}
    .title-container {
        visibility: visible;
    }
    .right-container {
        min-width: 0;
    }
    .top-bar-form.search-open .title-container { visibility: visible; }
    .sections-container #sections-label { display: none; }
    .main-bar-container { display: none; }
    .menu-section { display: none; }
    .trending-container { display: none; }
    .menu-sub-digit{display: flex;}
}
@media (min-width: 1040px) {          /* viewport ≥ 1040 px */
    .top-bar-form.search-open .title-container {
        visibility: visible;
    }
}
@media (max-width: 800px) {
    .sections-container,.right-main-container{
        width: auto;
    }

}
/* search‑bar visibile SOLO quando .top-bar-container ha la classe */
.top-bar-form .search-form { display: none; }

/* quando .top-bar-form ha la classe, mostra la search‑bar… */
.top-bar-form.search-open .search-form { display: flex; }
/*---content-style---*/
.content{
    max-width: 1300px;
    margin: 0 auto;
}
.header-division{
    height: 250px;
}
.primary-section{
    margin-top:32px;
    height: 100px;
}
.feature-container{
    display: grid;
    height: 100px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.feature-container > div{
    background: cyan;
    width: 100%;
    height: 100%;
}
@media(min-width:1000px) {
    margin-bottom:16px;
    width: 100%;
}
.fixed-top {
    position: relative;
    width: 100%;
    transition: all 0.2s ease;
}

.fixed-top.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
.fixed-top.fixed .title-container{
    visibility: visible;
}
/* (opzionale) per evitare che il contenuto venga coperto */
.fixed-top.fixed + .main-bar-container {
    margin-top: 64px; /* stessa altezza della barra */
}
.sentinella-stick {
    position:absolute;
    top:50px;
    height: 1px;
    width: 100%;
}